/* .App {
    text-align: center;
    margin-top: 20px;
    background-image: url("https://via.placeholder.com/1500x1000")   ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .border-2 {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .ImageBlock {
    display:grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
  }
  
  .ImageBlock img {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid grey;

    transition: transform 0.3s ease-in-out;
    max-width: 100%; 
    height: auto; 
  }
  
  .ImageBlock img:hover {
    transform: scale(1.05);
  }
  */

.App {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  grid-gap: 20px; 
  padding: 20px;
}

.ImageBlock {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.ImageBlock img {
  width: 100%;
  height: auto; 
  display: block;
}

.border-2 {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color:aquamarine;
}
